
.wrapper {
    /* max-width: 1440px; */
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: calc(var(--toolbar-heigth) + var(--main-header-height) + var(--main-menu-height));
}

.both-sides {
    margin: 0 auto;
    padding: 0 25px;
}

.toolbar-scroll {
    height: var(--toolbar-heigth);
    // background: var(--primary-color);
    text-align: center;
    padding-top: 5px;
    color: var(--white-color);
    display: block;
    transition: top 0.3s;
}

/*MainHear*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.brand {
    flex: 1;
}

.search-wrapper {
    flex: 3;
}

.menu-item {
    flex: 3;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.main-menu-header {
    padding-top: 90px;
}

/*MenuContainer*/
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--main-header-height);
    background: #fff;
}

.brand img {
    display: inline-block;
    object-fit: cover;
    object-position: center;
    width: 120px;
    height: 180px;
    padding-top: 20px;
}

.search-wrapper {
    width: 45%;
    border: 1px solid #ccc;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

.search-wrapper button {
    display: flex;
    padding: 15px 30px;
    font-size: 18px;
    background: var(--primary-color);
    color: #fff;
    border: none;
    cursor: pointer;
}

.search-wrapper input {
    height: 100%;
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
}

.search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.search-input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.2rem;
    border-radius: 3px;
    color: var(--text-color);
    padding: 0 16px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

.search-input:focus+.search-history {
    display: block;
}

.search-history {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 4px;
    background-color: var(--white-color);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 2px 5px #ccc;
    display: none;
    z-index: 8;
}

.search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.search-history-item {
    height: 36px;
    padding: 10px;
}

.search-history-item:hover {
    background-color: var(--gray-color);
}

.search-history-item a {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    display: block;
}

/*menu items*/
.menu-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    cursor: pointer;
}

.menu-item span {
    font-size: 20px;
}

.menu-item .account .sub-menu-wrap a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    margin: 20px;
}

/*account*/
.account {
    position: relative;
}

.sub-menu-wrap {
    position: absolute;
    top: 130%;
    right: 5%;
    margin-top: 12px;
    width: 230px;
    max-height: 0px;
    /* Mặt định */
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.sub-menu {
    background: #FAFAFA;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

.sub-menu-wrap .sub-menu::before {
    content: '';
    position: absolute;
    top: 3px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #FAFAFA;
    transform: rotate(45deg);
}

.sub-menu-link p {
    transition: 0.2s linear;
}

.sub-menu-link p:hover {
    transform: translateY(2px);
}

/*cart*/
.header__cart {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    align-items: center;
}

.header__cart-icon {
    color: black;
    font-size: 20px;
    /* padding: 8px 8px 0; */
    cursor: pointer;
    margin-right: 4px;
}

.header__cart-count {
    position: absolute;
    top: -17px;
    left: 90%;
    padding: 0px 7px;
    font-size: 15px;
    line-height: 1.3rem;
    border-radius: 50%;
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
    display: none;
}

.header__cart-list {
    position: absolute;
    top: 130%;
    right: 5%;
    margin-top: 12px;
    background-color: var(--white-color);
    width: 400px;
    min-height: 260px;
    border-radius: 3px;
    box-shadow: 0 0 5px #999;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
    display: none;
    transform-origin: 95% top;
    animation: grow ease-in 0.3s;
}

/* cầu nối liền mạch tam giác */

.header__cart-list::before {
    content: "";
    position: absolute;
    border-width: 20px 25px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 1%;
    top: -32px;
}

/* when no cart */

.header__cart--no-cart .header__cart-icon:hover~.header__cart-list.no-cart,
.header__cart--no-cart .cart-title:hover~.header__cart-list.no-cart,
.header__cart--no-cart .header__cart-list.no-cart:hover {
    display: flex;
}

.header__no-cart-img {
    width: 50%;
}

.header__no-cart-text {
    font-size: 1.5rem;
    color: var(--black-color);
    margin-top: 28px;
    margin-bottom: 0;
}

/* when has cart */

.header__cart--has-cart .header__cart-icon:hover~.header__cart-list.has-cart,
.header__cart--has-cart .cart-title:hover~.header__cart-list.has-cart,
.header__cart--has-cart .header__cart-count:hover~.header__cart-list.has-cart,
.header__cart--has-cart .header__cart-list.has-cart:hover {
    display: block;
    cursor: pointer;
}

.header__cart--has-cart .header__cart-count {
    display: block;
}

.header__cart-heading {
    text-align: left;
    margin: 12px;
    font-size: 1rem;
    color: var(--light-title-color);
    font-weight: 600;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    max-height: calc(58px * 5);
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
}

.header__cart-item:hover {
    background-color: var(--hover-color);
}

.header__cart-item-img {
    height: 42px;
    margin: 8px;
    border: 1px solid #ccc;
}

.header__cart-item-info {
    width: 100%;
    margin: auto;
}

.header__cart-item-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 22px;
}

.header__cart-item-name {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
    max-width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header__cart-item-price {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--primary-color);
    margin-right: 12px;
}

.header__cart-item-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    margin: 0 16px;
}

.header__cart-item-number {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
}

.header__cart-item-close {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
}

.header__cart-item-close:hover {
    color: var(--primary-color);
}

.header__cart-see-cart {
    float: right;
    margin: 12px;
}

.header__cart-see-cart:hover {
    opacity: 0.9;
}

.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: var(--sort-bar-height);
    margin: 0;
    padding-left: 0;
    list-style: none;
    background-color: var(--white-color);
    display: none;
}

.header__sort-item {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header__sort-item:hover {
    cursor: pointer;
}

.header__sort-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
}

.header__sort-item--active .header__sort-link {
    color: var(--primary-color);
}

.header__sort-link::before {
    content: "";
    position: absolute;
    left: 0;
    height: 60%;
    top: 50%;
    transform: translateY(-50%);
    border-left: 1px solid #ccc;
}

.header__sort-item:first-child .header__sort-link::before {
    display: none;
}

.btn-list {
    background: var(--primary-color);
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    border-radius: 2px;
    padding: 8px 24px;
    text-decoration: none;
    transition: 0.2s linear;
}

.btn-list:hover {
    opacity: 0.9;
}

.btn-list:active {
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
}

/*Menu*/
.main-menu-header {
    height: var(--main-menu-height);
}

#menu ul {
    background: var(--primary-color);
    list-style-type: none;
}

#menu li {
    color: #f1f1f1;
    display: inline-block;
    width: 130px;
    height: 60px;
    line-height: 60px;
}

#menu a {
    text-decoration: none;
    color: #fff;
    display: block;
    text-align: center;
}

#menu a:hover {
    transition: 0.5s;
    opacity: 0.8;
}

/*Banner*/
.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product img {
    object-fit: cover;
    object-position: center;
}

.banner-container .banner {
    background: radial-gradient(circle at 10% 20%, rgb(4, 159, 108) 0%, rgb(194, 254, 113) 90.1%);
    border-radius: 5px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 5px 10px #0005;
    overflow: hidden;
}

.banner-container .banner .product {
    flex: 1 1 250px;
    padding: 15px;
    text-align: center;
    object-fit: cover;
}

.banner-container .banner .product img {
    width: 80%;
}

.banner-container .banner .content {
    flex: 1 1 250px;
    text-align: center;
    padding: 10px;
}

.banner-container .banner .content h2 {
    color: #fff;
    font-size: 40px;
}

.banner-container .banner .content span {
    color: #01312C;
    font-size: 24px;
}

.banner-container .banner .content p {
    color: #01312C;
    font-size: 18px;
    padding: 10px 0;
}

.banner-container .banner .content .btn {
    display: block;
    height: 40px;
    width: 150px;
    line-height: 40px;
    background: #EE6B19;
    color: white;
    margin: 5px auto;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    transition: 0.5;
    opacity: 0.8;
}

/*Product Catalog*/
#slider-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px 25px;

}

.product-catalog {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    /*làm cho text không thể được select.*/
}

.collect-item {
    text-decoration: none;
    transition: 0.5s linear;
}

.collect-item:hover {
    transform: translate3d(0px, -5px, 0px);
}

.product-catalog-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid var(--primary-color);
    border-radius: 50%;
    overflow: hidden;
    margin: 0px auto;
    transition: 0.5s;
}

.product-catalog-img img {
    width: 100%;
    height: 100%;
    /* display: inline-block; */
    object-fit: cover;
    object-position: center;
}

.product-catalog-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.product-catalog-text p {
    color: #333333;
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    height: 15px;
    transition: 0.2s linear;
}

.collect-item .product-catalog-text p:hover {
    color: #EE6B19;
}

/*Body*/
.container {
    margin: 20px;
}

.list-product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.product-item {
    background-color: var(--gray-color);
    height: auto;
    border-radius: 10px;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.26);
    padding: 10px;
}

.image {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.product-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    padding: 15px;
}

.product-item button {
    position: absolute;
    border: none;
    font-size: 25px;
    color: #CCCCCC;
    right: 5px;
    top: 2px;
    background: none;
    cursor: pointer;
}

.info {
    height: 145px;
    width: 100%;
    display: grid;

    .product-link {
        text-decoration: none;
    }

    .product-title {
        width: 100%;
        font-weight: 600;
        line-height: 1.4rem;
        margin: 0 0 20px;
        height: 2.8rem;
        overflow: hidden;
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-decoration: none;
    }
}

.product-item p {
    color: #A2A2A2;
}

.info p {
    font-size: 14px;
    margin: 8px 0;
}

.stars {
    margin: 8px 0;
    font-size: 12px;
}

.stars i {
    color: orange;
}

/* .checked {
    color: orange;
  } */

.product-vulome p {
    margin-top: 35px;
}

.p .panel1 a:hover {
    color: rgba(255, 0, 0, 0.9);
}

/* Pagination */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding-top: 20px;
    user-select: none;
    text-align: center;
}

.pagination li {
    margin: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
}

.pagination li{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 45px;
    text-align: center;
}

.pagination-item{
    background: #ccc;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.previous-page,
.next-page {
    background-color: var(--primary-color);
    width: 60px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.2s linear;
}

.previous-page:hover {
    transform: translateX(-5px);
}

.next-page:hover {
    transform: translateX(5px);
}

.active {
    background: var(--primary-color);
}

.disable {
    background: #cccccc;
}

/*Footer*/
footer {
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: var(--gray-color);
    /* display: flex;
    justify-content: space-between; */
    flex-wrap: wrap;
    border-top: 4px solid var(--primary-color);
}

footer .main-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

/*Thiết Lập Cho Thành Phần Nội Dung Giới Thiệu*/
footer .main-footer .content {
    margin-right: 30px;
}

footer .main-footer .content.about {
    width: 40%;
}

footer .main-footer .content.about p {
    color: #999;
}

.content .brand-footer img {
    display: inline-block;
    object-fit: cover;
    object-position: center;
    width: 120px;
    height: 170px;
}

/*Thiết Lập Cho Thành Phần Icon Mạng Xã Hội*/
.social-icon {
    margin-top: 20px;
    display: flex;
}

.social-icon li {
    list-style: none;
}

.social-icon li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: var(--gray-color);
    display: flex;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    color: var(--primary-color);
}

.social-icon li a .fa {
    color: #fff;
    font-size: 20px;
}

.links h2 {
    color: var(--primary-color);
    font-weight: 500;
    margin-bottom: 15px;
}

.links {
    width: 25%;
}

.links ul li {
    list-style: none;
}

.links ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.links ul li a:hover {
    color: #fff;
}

.contact h2 {
    color: var(--primary-color);
    font-weight: 500;
    margin-bottom: 15px;
}

.contact {
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contact .info-footer li {
    display: flex;
    margin-bottom: 16px;
}

.contact .info-footer li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.contact .info-footer li span {
    color: #999;
}

.contact .info-footer li a {
    color: #999;
    text-decoration: none;
}

.btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    margin-top: 16px;
    transition: all 200ms ease-in;
    cursor: pointer;
}

.btn--primary {
    background: #222;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    border-radius: 2px;
    padding: 8px 24px;
}

.btn--primary:hover {
    background: #f00;
}

.btn--primary:active {
    background: #f00;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
}

.form__field {
    width: 90%;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    border: 0;
    outline: 0;
    padding: 8px 4px;
}

/*Responsive*/
@media (max-width:768px) {
    .banner-container .banner {
        display: none;
    }
}

@media (max-width:930px) {
    .list-product {
        grid-template-columns: repeat(4, 1fr);
    }
}
