@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

:root {
	--grey: #F1F0F6;
	--dark-grey: #8D8D8D;
	--light: #fff;
	--dark: #000;
	--green: #81D43A;
	--light-green: #E3FFCB;
	--blue: #1775F1;
	--light-blue: #D0E4FF;
	--dark-blue: #0C5FCD;
	--red: #FC3B56;
}
html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

input,
textarea,
select,
button {
    outline: none;
}

input {
    line-height: normal;
}

label,
button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

li {
	list-style: none;
}

body {
    width: 100%;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    background-color: #42c3622b;
}

::-webkit-scrollbar {
    width: 12px;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
}

.content-left{
    display: flex;
    background: #ffffff;
}
.content-right {
    width: 100%;
    padding-right: 40px;
    height: auto;
    display: flex;
    background: #ffffff;
}

/* header */
.header {
    width: 100%;
    background-position: cover;
    object-fit: cover;
}
.header-content {
    display: flex;
    width: 100%;
    height: 60px;
    background: #ffffffc2;
    margin: 0 auto;
    border: 0.4px solid #d2d2d2c2;
}
.header-content img{
    display: block;
    max-width: 60px;
    max-height: 60px;
    width: auto;
    height: auto;
    margin-left: 10px;
}
.box-content{
    display: flex;
    width: 60%;
    padding-top: 16px;
}
.box-content a{
    color: #000;
    padding: 0 10px 0 10px;
}
/*Nav*/
.content-nav{
	position: relative;
	width: calc(100%-100px);
	left: 100px;
}
nav{
	height: 60px;
	padding: 0 20px;
	margin-left: 242px;
	display: flex;
	align-items: center;
	grid-gap: 28px;
}
nav .nav-link{
	position: relative;
}
nav .nav-link .icon{
	font-size: 18px;
	color: var(--dark);
}
nav .nav-link .badge{
	position: absolute;
	top: -12px;
	right: -12px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--light);
	background: var(--red);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--light);
	font-size: 10px;
	font-weight: 700;
}

nav .divider{
	width: 1px;
	height: 6px;
	display: block;
}
nav .profile{
	position: relative;;
}
nav .profile img{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
}
nav .profile .profile-link{
	position: absolute;
	top: calc(100%+10px);
	right: 0;
	background: var(--light);
	padding: 10px 0;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
	border-radius: 10px;
	width: 190px;
	opacity: 0;
	pointer-events: none;
	transition: all .3s ease;
}
nav .profile .profile-link.show{
	opacity: 1;
	pointer-events: visible;
	top: 100%;
}
nav .profile .profile-link a{
	padding: 10px 16px;
	display: flex;
	grid-gap: 10px;
	font-size: 14px;
	color: var(--dark);
	align-items: center;
	transition: all .3s ease;
}
nav .profile .profile-link a:hover{
	background: var(--grey);
}

/* End header */

.containerds{
    height: auto;
	width: 100%;
	background: #f5f5f5;
    display: flex;
}

/*SIDEBAR*/
#sidebar{
	position: flex;
	width: 300px;
	background: var(--light);
	height: 100%;
}
#sidebar .fa-solid{
	width: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#sidebar .fa-solid .icon-right{
    transition: all .3s ease;
}
#sidebar .side-menu{
	margin: 36px 0;
	padding: 0 20px;
}
#sidebar .side-menu a{
	display: flex;
	align-items: center;
	font-size: 14px;
	color: var(--dark);
	padding: 12px 16px 12px 0px;
	transition: all .3s ease;
	border-radius: 10px;
	margin: 4px 0;
	grid-gap: 6px;
    width: 260px;
}
#sidebar .side-menu a:hover{
    color:#266937 ;
}
#sidebar .side-menu  > li > a.active .icon-right{
    transform: rotateZ(90deg);
}
#sidebar .side-menu  > li > a.active,
#sidebar .side-menu >li > a.active:hover{
	color: #266937;
    font-weight: bolder;
    transform: translateY(2px);

} 
#sidebar .side-dropdown{
	padding-left: 56px;
	max-height: 0;
	overflow-y: hidden;
	transition:  all .15s ease;
}
#sidebar .side-dropdown a:hover{
	color: #5e6861c2;
}
#sidebar .side-dropdown.show {
	max-height: 1000px;
}
#sidebar .side-dropdown a:hover {
	color: #266937;
}

/* MAIN */
main {
	width: 100%;
	padding: 24px 20px 20px 20px;
}
main .title {
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 10px;
}
main .breadcrumbs {
	display: flex;
	grid-gap: 6px;
}
main .breadcrumbs li,
main .breadcrumbs li a {
	font-size: 14px;
}
main .breadcrumbs li a {
	color: var(--blue);
}
main .breadcrumbs li a.active,
main .breadcrumbs li.divider {
	color: var(--dark-grey);
	pointer-events: none;
}
main .info-data {
	margin-top: 36px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 20px;
}
main .info-data .card {
	padding: 20px;
	border-radius: 10px;
	background: var(--light);
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .05);
    border: 0.4px solid #d2d2d2c2;
}
main .card .head {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
main .card .head h2 {
	font-size: 24px;
	font-weight: 600;
}
main .card .head p {
	font-size: 14px;
}
main .card .head .icon {
	font-size: 20px;
	color: #33bf17;
}
main .card .head .icon.down {
	color: #ff0000;
}
main .card .progress {
	display: block;
	margin-top: 24px;
	height: 10px;
	width: 100%;
	border-radius: 10px;
	background: #cccccc;
	overflow-y: hidden;
	position: relative;
	margin-bottom: 4px;
}
main .card .progress::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: #ff7b00c2;
	width: var(--value);
}
main .card .label {
	font-size: 14px;
	font-weight: 700;
}
main .data {
	display: flex;
	grid-gap: 20px;
	margin-top: 20px;
	flex-wrap: wrap;
    border: 0.4px solid #d2d2d2c2;
}
main .data .content-data {
	flex-grow: 1;
	flex-basis: 400px;
	padding: 20px;
	background: var(--light);
	border-radius: 10px;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
}
main .content-data .head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 24px;
}
main .content-data .head h3 {
	font-size: 20px;
	font-weight: 600;
}
main .content-data .head .option {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
main .content-data .head .option .icon {
	cursor: pointer;
}
main .content-data .head .option-link {
	position: absolute;
	top: calc(100% + 10px);
	right: 0;
	width: 140px;
	background: var(--light);
	border-radius: 10px;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
	padding: 10px 0;
	z-index: 100;
	opacity: 0;
	pointer-events: none;
	transition: all .3s ease;
}
main .content-data .head .option-link.show {
	top: 100%;
	opacity: 1;
	pointer-events: visible;
}
main .content-data .head .option-link a {
	display: block;
	padding: 6px 16px;
	font-size: 14px;
	color: var(--dark);
	transition: all .3s ease;
}
main .content-data .head .option-link a:hover {
	background: var(--grey);
}
main .content-data .chart {
	width: 100%;
	max-width: 100%;
	overflow-x: auto;
	scrollbar-width: none;
}
main .content-data .chart::-webkit-scrollbar {
	display: none;
}

main .chat-box {
	width: 100%;
	max-height: 360px;
	overflow-y: auto;
	scrollbar-width: none;
}
main .chat-box::-webkit-scrollbar {
	display: none;
}
main .chat-box .day {
	text-align: center;
	margin-bottom: 10px;
}
main .chat-box .day span {
	display: inline-block;
	padding: 6px 12px;
	border-radius: 20px;
	background: var(--light-blue);
	color: var(--blue);
	font-size: 12px;
	font-weight: 600;
}
main .chat-box .msg img {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	object-fit: cover;
}
main .chat-box .msg {
	display: flex;
	grid-gap: 6px;
	align-items: flex-start;
}
main .chat-box .profile .username {
	font-size: 14px;
	font-weight: 600;
	display: inline-block;
	margin-right: 6px;
}
main .chat-box .profile .time {
	font-size: 12px;
	color: var(--dark-grey);
}
main .chat-box .chat p {
	font-size: 14px;
	padding: 6px 10px;
	display: inline-block;
	max-width: 400px;
	line-height: 150%;
}
main .chat-box .msg:not(.me) .chat p {
	border-radius: 0 5px 5px 5px;
	background: var(--blue);
	color: var(--light);
}
main .chat-box .msg.me {
	justify-content: flex-end;
}
main .chat-box .msg.me .profile {
	text-align: right;
}
main .chat-box .msg.me p {
	background: var(--grey);
	border-radius: 5px 0 5px 5px;
}
main form {
	margin-top: 6px;
}
main .form-group {
	width: 100%;
	display: flex;
	grid-gap: 10px;
}
main .form-group input {
	flex-grow: 1;
	padding: 10px 16px;
	border-radius: 5px;
	outline: none;
	background: var(--grey);
	border: none;
	transition: all .3s ease;
	width: 100%;
}
main .form-group input:focus {
	box-shadow: 0 0 0 1px var(--blue), 0 0 0 4px var(--light-blue);
}
main .btn-send {
	padding: 0 16px;
	background: var(--blue);
	border-radius: 5px;
	color: var(--light);
	cursor: pointer;
	border: none;
	transition: all .3s ease;
}
main .btn-send:hover {
	background: var(--dark-blue);
}
/* MAIN */