
:root{
    --primary-color: #266937;
    --gray-color: #EEEEEE;
    --black-color: #000000;
    --white-color: #fff;
    --toolbar-heigth: 30px;
    --main-header-height: 120px;
    --main-menu-height: 60px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: calc(var(--toolbar-heigth) + var(--main-header-height) + var(--main-menu-height));
}

.container { 
}

.both-sides{
    margin: 0 auto;
    padding: 0 25px;
}

.toolbar-scroll{
    height: var(--toolbar-heigth);
    background: var(--primary-color);
    text-align: center;
    padding-top: 5px;
    color: var(--white-color);
    display: block;
    transition: top 0.3s;
}

/*MainHear*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.brand{
    flex: 1;
}

.search-wrapper{
    flex: 3;
}

.menu-item{
    flex: 3;
}

/*MenuContainer*/
.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--main-header-height);
    background: #fff;
}

.brand img{
    display: inline-block;
    object-fit: cover;
    object-position: center;
    width: 120px;
    height: 180px;
    padding-top: 20px;
}

.search-wrapper{
    width: 45%;
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.search-wrapper button{
    display: flex;
    padding: 15px 30px;
    font-size: 18px;
    background: var(--primary-color);
    color: #fff;
    border: none;
    cursor: pointer;
}

.search-wrapper input{
    height: 100%;
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
}

.menu-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    cursor: pointer;
}

.menu-item span{
    font-size: 20px;
}

.menu-item .account .sub-menu-wrap a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    margin: 20px;
}

/*account*/
.sub-menu-wrap{
    position: absolute;
    top: 55%;
    right: 18%;
    width: 230px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    background: #FAFAFA;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

.sub-menu-wrap .sub-menu::before{
    content: '';
    position: absolute;
    top: 3px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #FAFAFA;
    transform: rotate(45deg);
}

.sub-menu-link p{
    transition: 0.2s linear;
}

.sub-menu-link p:hover{
    transform: translateY(2px);
}

/*cart*/
.cart{
    position: relative;
    display: inline-block;
}

.sub-menu-wrap-cart{
    display: none;
    position: absolute;
    top: 160%;
    right: 5%;
    width: 330px;
    /* max-height: 0px; */
    overflow: hidden;
    transition: max-height 0.5s;
    text-align: center;
}

.sub-menu-cart{
    background: #FAFAFA;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

.sub-menu-wrap-cart .sub-menu-cart::before{
    content: '';
    position: absolute;
    top: 3px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #FAFAFA;
    transform: rotate(45deg);
}

.cart:hover .sub-menu-wrap-cart{
    display: block;
}

/*Menu*/
.main-menu-header{
    height: var(--main-menu-height);
}

#menu ul {
    background: var(--primary-color);
    list-style-type: none;
}
#menu li {
    color: #f1f1f1;
    display: inline-block;
    width: 130px;
    height: 60px;
    line-height: 60px;
}
#menu a {
    text-decoration: none;
    color: #fff;
    display: block;
    text-align: center;
}
#menu a:hover {
    transition: 0.5s;
    opacity: 0.8;
}

/*Banner*/
.banner-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.product img{
    object-fit: cover;
    object-position: center;
}

.banner-container .banner{
    background:radial-gradient(circle at 10% 20%, rgb(4, 159, 108) 0%, rgb(194, 254, 113) 90.1%);
    border-radius: 5px;
    margin:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 5px 10px #0005;
    overflow: hidden;
}

.banner-container .banner .product{
    flex:1 1 250px;
    padding:15px;
    text-align: center;
    object-fit: cover;
}

.banner-container .banner .product img{
    width:80%;
}

.banner-container .banner .content{
    flex:1 1 250px;
    text-align: center;
    padding:10px;
}

.banner-container .banner .content h2{
    color:#fff;
    font-size: 40px;
}

.banner-container .banner .content span{
    color:#01312C;
    font-size: 24px;
}

.banner-container .banner .content p{
    color:#01312C;
    font-size: 18px;
    padding:10px 0;
}

.banner-container .banner .content .btn{
    display: block;
    height:40px;
    width:150px;
    line-height: 40px;
    background: #EE6B19;
    color: white;
    margin:5px auto;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover{
    transition: 0.5;
    opacity: 0.8;
}

/*Product Catalog*/
#slider-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 25px;

}

.product-catalog{
    max-width: 180px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none; /*làm cho text không thể được select.*/
}

.collect-item{
    text-decoration: none;
    transition: 0.5s linear;
}

.collect-item:hover{
    transform: translate3d(0px, -5px, 0px);
}

.product-catalog-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid var(--primary-color);
    border-radius: 50%;
    overflow: hidden;
    margin: 0px auto;
    transition: 0.5s;
}

.product-catalog-img img{
    width: 100%;
    height: 100%;
    /* display: inline-block; */
    object-fit: cover;
    object-position: center;
}

.product-catalog-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.product-catalog-text p{
    color: #333333;
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    height: 15px;
    transition: 0.2s linear ;
}

.collect-item .product-catalog-text p:hover{
    color: #EE6B19;
}

/*Body*/
.container{
    margin: 20px;
}

.list-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.product-item
{
	background-color: var(--gray-color);
	width: 220px;
	height: auto;
	border-radius: 10px;
	overflow: hidden;
	margin-right: 10px;
	display: inline-block;
	cursor: pointer;
	transition: 450ms all;
	transform-origin: center left;
    position: relative;
	box-shadow: 0 5px 5px 0 rgba(0,0,0,0.26);
    padding: 10px;
}

.product-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    padding: 15px;
}

.product-item button{
    position: absolute;
    border: none;
    font-size: 28px;
    color: var(--primary-color);
    right: 5px;
    top: 2px;
    background: none;
    cursor: pointer;
}

.product-item .info a{
    padding: 5px 0;
}

.product-item p{
    color: #A2A2A2;
}

.info p{
    font-size: 14px;
    margin: 8px 0;
}

.stars{
    margin: 8px 0;
}

.stars i{
   color: #FFD700;
}

.product-vulome p{
    margin-top: 35px;
}

.p .panel1 a:hover{
	color: rgba(255,0,0,0.9);
}

/* Pagination */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding-top: 20px;
}

.pagination-item {
    padding: 0 15px;
}

.pagination-item--active .pagination-item-link {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item .pagination-item-link:hover {
    box-shadow: 0 0 3px #333;
}

.pagination-item-link {
    display: block;
    text-decoration: none;
    font-size: 22px;
    color: #999;
    height: 30px;
    text-align: center;
    line-height: 30px;
    min-width: 40px;
    border-radius: 3px;
}

.pagination-item .pagination-item-link--disable:hover {
    cursor: default;
    box-shadow: none;
}

/*Footer*/
footer{
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: var(--gray-color);
    /* display: flex;
    justify-content: space-between; */
    flex-wrap: wrap;
    border-top: 4px solid var(--primary-color);
}
footer .main-footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

/*Thiết Lập Cho Thành Phần Nội Dung Giới Thiệu*/
footer .main-footer .content{
    margin-right: 30px;
}
footer  .main-footer .content.about{
    width:40%;
}
/* footer .main-footer .noi-dung.about h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .main-footer .noi-dung.about h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
} */
footer .main-footer .content.about p{
    color: #999;
}

.content .brand-footer img {
    display: inline-block;
    object-fit: cover;
    object-position: center;
    width: 120px;
    height: 170px;
}

/*Thiết Lập Cho Thành Phần Icon Mạng Xã Hội*/
.social-icon{
    margin-top: 20px;
    display: flex;
}
.social-icon li {
    list-style: none;
}
.social-icon li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: var(--gray-color);
    display: flex;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    color: var(--primary-color);
}

.social-icon li a .fa{
    color: #fff;
    font-size: 20px;
}

.links h2{
    color: var(--primary-color);
    font-weight: 500;
    margin-bottom: 15px;
}

.links{
   width: 25%;
}
.links ul li{
    list-style: none;
}
.links ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.links ul li a:hover{
    color: #fff;
}

.contact h2{
    color: var(--primary-color);
    font-weight: 500;
    margin-bottom: 15px;
}

.contact{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contact .info li{
    display: flex;
    margin-bottom: 16px;
}
.contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span{
    color: #999;
}
.contact .info li a{
    color: #999;
    text-decoration: none;
}

.btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    margin-top:16px;
    transition: all 200ms ease-in;
    cursor: pointer;
}
.btn--primary {
    background: #222;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    border-radius: 2px;
    padding: 8px 24px;
}
.btn--primary:hover {
    background: #f00;
}
.btn--primary:active {
    background: #f00;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
}
.form__field {
    width: 90%;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    border: 0;
    outline: 0;
    padding: 8px 4px;
}

/*Responsive*/
@media (max-width:768px){
    .banner-container .banner{
        display: none;
    }
}

