
.wrapper {
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 12px;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
}

.content-right {
    width: 100%;
    padding-right: 40px;
    height: auto;
    display: flex;
    background: #ffffff;
}



.containerds {
    height: auto;
    width: 100%;
    background: #f5f5f5;
    display: flex;
}

/*SIDEBAR*/
#sidebar {
    position: flex;
    width: 100%;
    background: var(--light);
    height: 100%;
}

#sidebar .fa-solid {
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sidebar .fa-solid .icon-right {
    transition: all .3s ease;
}

#sidebar .side-menu {
    margin: 36px 0;
    padding: 0 20px;
}

#sidebar .side-menu a {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--dark);
    padding: 12px 16px 12px 0px;
    transition: all .3s ease;
    border-radius: 10px;
    margin: 4px 0;
    grid-gap: 6px;
    width: 260px;
}

#sidebar .side-menu a:hover {
    color: #266937;
}

#sidebar .side-menu>li>a.active .icon-right {
    transform: rotateZ(90deg);
}

#sidebar .side-menu>li>a.active,
#sidebar .side-menu>li>a.active:hover {
    color: #266937;
    font-weight: bolder;
    transform: translateY(2px);

}

#sidebar .side-dropdown {
    padding-left: 56px;
    max-height: 0;
    overflow-y: hidden;
    transition: all .15s ease;
}

#sidebar .side-dropdown a:hover {
    color: #5e6861c2;
}

#sidebar .side-dropdown.show {
    max-height: 1000px;
}

#sidebar .side-dropdown a:hover {
    color: #266937;
}

/* MAIN */
main {
    width: 100%;
    padding: 24px 20px 20px 20px;
}

main .title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}

.edit-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 45px;
}

.cr_email h4 {
    display: flex;
    color: #000;
    font-weight: normal;
    margin-bottom: 5px;
}

.cr_email span {
    color: #ff0000;
    font-size: smaller;
    padding-right: 2px;
    font-weight: bolder;
}

.edit-main .email-box_input{
    margin-left: 110px;
    margin-top: 12px;
    margin-bottom: 20px;
}

.edit-main input {
    width: 500px;
    height: 40px;
    border-radius: 5px;
    color: #000000;
    border: 0.4px solid #d2d2d2c2;
    margin-left: 30px;
    padding-left: 10px;
}

.edit-main input:hover {
    border: 0.4px solid #717171c2;
}

::placeholder {
    color: #7d7d7d;
    font-size: 15px;
}

.cr_password h4 {
    display: flex;
    color: #000;
    font-weight: normal;
    margin-bottom: 5px;
}

.cr_password span {
    color: #ff0000;
    font-size: smaller;
    padding-right: 2px;
    font-weight: bolder;
}

.edit-main .password-box_input{
    margin-left: 98px;
    margin-top: 12px;
    margin-bottom: 20px;
}

.cr_phonenb h4 {
    display: flex;
    color: #000;
    font-weight: normal;
    margin-bottom: 5px;
}

.cr_phonenb span {
    color: #ff0000;
    font-size: smaller;
    padding-right: 2px;
    font-weight: bolder;
}

.edit-main .phonenb-box_input{
    margin-left: 80px;
    margin-top: 12px;
    margin-bottom: 20px;
}

.cr_address h4 {
    display: flex;
    color: #000;
    font-weight: normal;
    margin-bottom: 5px;
}

.cr_address span {
    color: #ff0000;
    font-size: smaller;
    padding-right: 2px;
    font-weight: bolder;
}

.edit-main .address-box_input{
    margin-left: 110px;
    margin-top: 12px;
    margin-bottom: 20px;
}

.cr_role h4 {
    display: flex;
    margin-bottom: 5px;
    margin-top: 15px;
}

.cr_role span {
    color: #ff0000;
    font-size: smaller;
    padding-right: 2px;
    font-weight: bolder;
}

.grouprd{
    margin-top: 12px;
    display: inline-flex;
    height: 40px;
    width: 32%;
    align-items: center;
    border-radius: 5px;
    // padding: 20px;
  }
  .grouprd .option{
    background: #fff;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 0 0 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 10px;
    border: 2px solid lightgrey;
    transition: all 0.3s ease;
  }
  .grouprd .option .dot{
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
  }
  .grouprd .option .dot::before{
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: #008a22;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
  }
  input[type="radio"]{
    display: none;
  }
  #option-1:checked:checked ~ .option-1,
  #option-2:checked:checked ~ .option-2{
    border-color: #00AC2C;
    background: #00AC2C;
  }
  #option-1:checked:checked ~ .option-1 .dot,
  #option-2:checked:checked ~ .option-2 .dot{
    background: #fff;
  }
  #option-1:checked:checked ~ .option-1 .dot::before,
  #option-2:checked:checked ~ .option-2 .dot::before{
    opacity: 1;
    transform: scale(1);
  }
  .grouprd .option span{
    font-size: 16px;
    color: #808080;
  }
  #option-1:checked:checked ~ .option-1 span,
  #option-2:checked:checked ~ .option-2 span{
    color: #fff;
  }

.containerbtn {
    height: auto;
    width: 100%;
    background: #ffffff2b;
    display: flex;
    margin-top: 15px;
    justify-content: center;


.btn-group {
    margin-top: 25px;
    margin-bottom: 30px;
    display: flex;
}

.btn-cancel {
    width: 150px;
    border-radius: 5px;
    justify-content: center;
    height: 40px;
    transition: 0.3s linear;
    margin-right: 20px;
    border: 1px solid #2828285c;
}

.btn-cancel:hover {
    transform: translateY(2px);
    background-color: none !important;
    border: 1px solid #2828285c !important;
}

.btn-cancel a {
    padding-top: 9px;
    font-size: 15px;
    color: #000000;
    text-decoration: none;
}

.btn-create {
    width: 150px;
    border-radius: 5px;
    background: #00AC2C;
    justify-content: center;
    height: 40px;
    transition: 0.3s linear;
    // border: 1px solid #2828285c;
}

.btn-create:hover {
    transform: translateY(2px);
    background-color: #00AC2C !important;
    border-color: none !important;
}

.btn-create a {
    padding-top: 9px;
    font-size: 15px;
    color: #ffffff;
}
}